.main {
  display: flex;
  flex-direction: column;
  gap: 183px;
}

.content-section {
  width: 100%;
  margin: 0 auto;
}

.body {
  font-family: "Raleway", sans-serif;
}

/* HEADER*/

.header {
  display: grid;
  grid-template-columns: 2fr 1fr 2fr;
  align-items: center;
  font-size: 18px;
}

.header_menu {
  align-self: center;
  margin-left: 50px;
}

.header_logo {
  display: block;
  justify-self: center;
  margin: auto;
}

.header_logo_img {
  color: #000000;
  margin: 92px 0 96px;
  height: 105px;
  width: 148px;
}

.header_menu-list {
  display: flex;
  gap: 32px;
  margin: 133px 50px 138px 36.5px;
  justify-content: center;
}

.header_menu-item {
  list-style: circle;
}

.header_menu-item_active {
  list-style: none;
}

.header_menu-link_active {
  text-decoration: none;
  text-transform: lowercase;
}

.header_menu-link {
  text-transform: lowercase;
}

.address {
  max-width: 240px;
  font-family: "Raleway";
  font-size: 18px;
  font-style: normal;
  justify-self: end;
  margin: 0 29px 0 205px;
}

/* COVER*/

.cover {
  padding: 165px 50px 50px;
  position: relative;
  background-image: url(../images/lotus-flower.png);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}

.overlay {
  inset: 0;
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  bottom: 0;
  background: rgba(0, 0, 0, 0.6);
  z-index: 0;
}

.cover_title {
  display: flex;
  color: #fff;
  z-index: 1;
  flex-direction: column;
  gap: 5px;
}

.span {
  display: block;
  font-size: 100px;
  font-style: normal;
  font-weight: 700;
  line-height: 115%;
  letter-spacing: 30px;
  text-transform: uppercase;
}

.text_left {
  text-align: left;
  z-index: 1;
}

.text_center {
  text-align: center;
  z-index: 1;
}

.text_right {
  text-align: right;
  z-index: 1;
}

.cover_description {
  display: flex;
  z-index: 1;
  justify-content: space-between;
}

.cover_description_text {
  color: #fff;
  z-index: 1;
  font-size: 22px;
  text-transform: uppercase;
  word-spacing: 25px;
  margin-top: 114px;
}

.cover_link {
  padding: 12px 32px;
  width: 257px;
  height: 52px;
  line-height: normal;
  font-size: 22px;
  text-transform: uppercase;
  border: 1px solid #fff;
  color: #fff;
  background-color: transparent;
  z-index: 1;
  margin-top: 90px;
  margin-right: 50px;
}

/*LOTS*/

.lots {
  padding: 180px 50px 0;
  margin-bottom: 120px;
}

.lots_header {
  text-transform: uppercase;
  font-style: bold;
  font-size: 40px;
  margin-bottom: 27px;
  font-weight: 700;
  margin-left: 40px;
}

.lots_menu-list {
  display: flex;
  flex-wrap: wrap;
  gap: 25px;
  padding-top: 27px;
  list-style: none;
}

.lots_menu-item {
  width: 334px;
  min-height: 596px;
  flex-grow: 1;
  margin-bottom: 30px;
}

.lots_menu-link {
  display: block;
  width: 100%;
  height: 100%;
  text-decoration: none;
}

.card {
  position: relative;
  z-index: 1;
  display: flex;
  flex-direction: column;
  width: 100%;
  height: 100%;
  padding: 50px 40px;
  color: #fff;
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}

.card_title {
  font-weight: 700;
  font-size: 22px;
  line-height: 120%;
  text-decoration: underline;
  text-transform: uppercase;
  z-index: 1;
}

.card_text {
  margin-top: auto;
  font-weight: 400;
  font-size: 20px;
  line-height: 120%;
  z-index: 1;
}


.card_film {
  background-image: url(../images/film.png);
}

.card_book {
  background-image: url(../images/book.jpg);
}

.card_picture {
  background-image: url(../images/picture.png);
}

.lots_link {
  margin-top: 30px;
  font-size: 20px;
  align-self: flex-start;
}

/*ABOUT*/

.about_auction {
  display: grid;
  grid-template-columns: 500px 1fr;
  margin: 120px 24px;
}

.about_logo {
  display: flex;
  justify-content: center;
  margin-top: 35px;
}

.logo_white {
  display: flex;
  background-color: black;
  height: 240px;
  width: 240px;
  border-radius: 50%;
  justify-content: center;
  align-items: center;
}

.about_logo_img {
  height: 114px;
  width: 148px;
}

.about_header {
  font-family: "Raleway" sans-serif;
  margin-top: 133px;
  grid-column-start: 2;
  text-transform: uppercase;
  font-style: bold;
  font-size: 50px;
}

.about_text_first {
  grid-column-start: 2;
  margin-bottom: 24px;
  font-style: normal;
  font-size: 20px;
  margin-right: 24px;
}

.about_text_second {
  grid-column-start: 2;
  font-style: normal;
  font-size: 20px;
  margin-right: 24px;
}

/*FOOTER*/

.footer {
  padding: 0 50px 82px;
  margin-top: 180px;
  display: grid;
  grid-template-columns: 2fr 1fr 2fr;
  align-items: center;
}

.footer_address {
  margin-right: 50px;
  max-width: 240px;
  font-family: "Raleway";
  font-size: 18px;
  font-style: normal;
  margin-top: 0;
}

.footer_menu-list {
  display: flex;
  flex-direction: column;
  list-style: none;
  justify-content: center;
  text-align: center;
}

.media_menu-list {
  display: flex;
  flex-direction: row;
  gap: 32px;
  list-style: circle;
  justify-self: end;
  list-style: none;
}

.footer_menu-item_active {
  text-transform: lowercase;
}

.footer_menu-item {
  text-transform: lowercase;
}

.footer_menu-link_active {
  text-decoration: none;
}
